<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="register">Register</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </div>

    <form action="login" method="post">
        {% csrf_token %}
        <h1>This is login Page</h1>
        <input type="text" placeholder="Username or Email id" required name="un"> <br><br>
        <input type="password" placeholder="Enter your Password" required name="pw"> <br><br>

        Not a user?<a href="">Signup</a> <br><br>
        <button type="submit">Login</button>
        <button type="reset">Cancel</button>
    </form>
    {% for message in messages %}
    <h1>{{message}}</h1>
    
    {% endfor %}
    {{user.name}} <br>
    {{user.pno}} <br>
    {{user.email}} <br>
    {{user.address}} <br>
    {{user.bg}} <br>
    <style>
        form{
            border: 1px solid black;
            width: 15%;
            padding: 25px;
            text-align: center;
            margin: auto;
        }
        #nav ul,#nav li{
            display: inline-block;
        }
    </style>
    
</body>
</html>